<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.murphy.base.dao.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.murphy.base.model.Menu" >
    <constructor >
      <arg column="ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="HREF_URL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PARENT_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_USER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UPDATE_USER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="REMARK" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SHOWNUM" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ORDERNUM" jdbcType="DECIMAL" javaType="java.lang.Integer" />
      <arg column="ALIAS_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <insert id="insertSelective" parameterType="user" >
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
      select sys_guid() from dual
    </selectKey>
    insert into MUP_SYS_MENU
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="hrefUrl != null" >
        HREF_URL,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateUser != null" >
        UPDATE_USER,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="shownum != null" >
        SHOWNUM,
      </if>
      <if test="ordernum != null" >
        ORDERNUM,
      </if>
      <if test="aliasName != null" >
        ALIAS_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="hrefUrl != null" >
        #{hrefUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="shownum != null" >
        #{shownum,jdbcType=VARCHAR},
      </if>
      <if test="ordernum != null" >
        #{ordernum,jdbcType=DECIMAL},
      </if>
      <if test="aliasName != null" >
        #{aliasName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <sql id="querySql">
    ID AS id, NAME AS name, TYPE AS type, HREF_URL AS hrefUrl, PARENT_ID AS parentId, CREATE_USER AS createUser,
    CREATE_DATE AS createDate, UPDATE_USER AS updateUser, UPDATE_DATE AS updateDate,
--     REMRK AS remark,
    SHOWNUM AS shownum, ORDERNUM AS ordernum, ALIAS_NAME AS aliasName
  </sql>
  <select id="getMenuList" parameterType="user" resultType="user">
    SELECT <include refid="querySql"></include> FROM MUP_SYS_MENU
  </select>
  <select id="getMenuListByType" resultType="user" parameterType="String">
    SELECT <include refid="querySql"></include> FROM MUP_SYS_MENU WHERE TYPE = #{type}
  </select>
</mapper>